.DS_Store
settings-development.json
settings-production.json
npm-debug.log

node_modules

.idea/jsLibraryMappings.xml
.idea/libraries/meteor_packages_auto_import_browser.xml
.idea/libraries/meteor_packages_auto_import_npm.xml
.idea/workspace.xml
.idea/libraries/base_node_modules.xml
